body{
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
    
    
    
    
}
    
.maincard{
    max-width: 400px;
    min-height: 600px;
    background-color: rgb(234, 146, 175);
    margin: auto;
    margin-top: 50px;
    position: relative;
   
   
   
    
}
.heading{
    
    position: relative;
    display: flex;
    margin: auto;
   
    
}
.headcontent{
    display: flex;
    text-align: center;
}
img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.searchbar{
    display: flex;
}
ul li{
    list-style: none;
    font-size: 20px;
    user-select: none;
    padding: 12px 8px 12px 8px;
    cursor: pointer;
    margin-top: 10px;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-image: url(../../Pictures/bullet.png);
    background-size: cover;
   margin-left: -25px;
}
/*ul li .checked{
    color: azure;
    text-decoration: line-through;
}*/
ul li.checked::before{
    background-image: url(../../Pictures/tickbullet.webp);
}